
  #header{
    display: flex;
    font-size: 15px;
    font-family: sans-serif;
    background-color: #ece8e8;

  }

  /* style the list */
  ul.breadcrumb li{
    display: inline;
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(93, 91, 91);
    content: " > ";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #737576;
    text-decoration: none;
  }
 

  ul.productLinks li{
    display: inline;
    margin-left: 30px;
  }
  .productLinksDiv{
    margin-left: 500px;
  }

  ul.productLinks li a {
    color: #737576;
    text-decoration: none;
  }

  #container{
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  /* style the filter side bar  */

  #data-list-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 50px;
    margin-right: 200px;
    /* border: 1px solid red; */
    margin-left: 25px;
  }
  #data-list-wrapper div{
    /* border: 1px solid green; */
  }
  #data-list-wrapper img{
    width: 100%;
  }
  #filter-sideBar{
    width: 250px;
    margin-top: 25px;
    margin-left: 100px;
  }
  #filter-sideBar .filters-text{
    font-size: 20px;
    margin-left: 20px;
    /* font-weight: 200; */
    color: #7d7c7c;
    font-family: sans-serif;
  }
  #filter-sideBar p{
    /* color: #737576; */
    font-size: 14px;
    margin-left: 20px;
    font-weight: 400;
    color: #313131;
    font-family: sans-serif;


  }
  
  #rooms-filter-parent{
    border: 1px solid rgb(163, 161, 161);
    margin-top: 20px;
    margin-left: 20px;
    line-height: 30px;
  }
  #product-type-filter-parent{
    border: 1px solid rgb(163, 161, 161);
    margin-top: 20px;
    margin-left: 20px;
    line-height: 30px;

  }

  #sort{
    margin-top: 20px;
    padding: 10px 10px;
    margin-left: 20px;
    width: 230px;
    border:1px solid #737576;

  }

  #rooms-filter input{
    margin-left: 20px;
  }
  #rooms-filter{
    font-family: sans-serif;
    color: #7d7c7c;
    font-size: small;

  }
  .product-type-filter input{
    margin-left: 20px;
    /* margin-bottom: 20px; */
    font-family: sans-serif;
  }
  .product-type-filter{
    font-family: sans-serif;
    color: #7d7c7c;
    font-size: small;
  }
  #wishes {
    margin-top: 70px;
    background-color: #fcfcfc;
    width: 100%;
    /* margin-left: -180px; */
    padding: 70px 0px;
  }
  
  
  #wishes .p {
    width: 80%;
    margin: auto;
    background-color: #f5f7fa;
    /* border: 5px solid black; */
  } 
  
  
              /* |---------------------------------------------------------|
                 |           Footer                                        |
                 |---------------------------------------------------------|  */
  
  
  #mainfooter {
    margin-top: 70px;
    background-color: #f5f7fa;
    width: 133%;
    margin-left: -180px;
    padding: 70px 0px;
    /* border: 5px solid rgb(230, 84, 84); */
  
  }
  
  #mainfooter .p {
    width: 80%;
    margin: auto;
    background-color: #f5f7fa;
    /* border: 5px solid black; */
  }
  
  
  #footer {
    display: flex;
    font-family: "Muli";
     gap: 80px;
  
   justify-content: space-between;
    width: 80%;
    margin: auto;
    background-color: #f5f7fa;
    /* border: 5px solid rgb(26, 202, 233); */
  padding: 15px;
  
  }
  
  #footer>div{
  /* border: 1px dashed rgb(238, 18, 220); */
  /* display: flex;
  justify-content: start; */
  /* padding-left: -15px; */
  }
  
  
  #footer li {
    width: 100%;
    list-style: none;
    margin: 25px;
    /* border: 2px solid red; */
  }
  
  #footer a {
    text-decoration: none;
    color: black;
    /* border: 2px solid rgb(41, 197, 101); */
  }
  
  #footer a:hover {
    color: rgb(235, 18, 18);
    text-decoration: underline;
  }
  
  
  #footer ol > div {
    display: flex;
    gap: 20px;
    /* border: 2px solid rgb(26, 115, 233); */
  }
  
  #footer ol > div img {
    width: 30%;
    /* border: 2px solid rgb(231, 118, 11); */
  }
  
  #footer ol button {
    background-color: transparent;
    font-size: 20px;
    padding: 20px 15px;
    /* border: 5px solid rgb(147, 223, 194); */
  }
  
  
  #bottom_footer {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    
  }
  
  .B {
    
    display: flex;
    
  }
  
  .B img {
    width: 40%;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 5px;
  }