*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto 0px auto;
  padding: 7px 5%;
  background-color: white;
  position: sticky;
  top: 0;
 
  z-index: 11;
}

   /* Navbar  child */

   /* logo  */
     

  #navbar>div:nth-child(1){
  width: 6%;
  }

  #navbar>div:nth-child(1) img{
  width: 100%;
  }

    /* logo-name                              */

#navbar>div:nth-child(2) {
  width: 15%;
  margin-left: -120px;
  font-size: 22px;
  margin-right: -100px;
}

/* location         */

#navbar>div:nth-child(3){
  margin-left: -60px;
}

#navbar>div:nth-child(3) img{
  width: 100%;
}

/* <!-- Location Box section start--> */

#location {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 13px;
  cursor: pointer;
}
#location > img {
  width: 50%;
  margin: 0px 5px;
}

/* Search bar      */
 
#navbar>div:nth-child(4){
border:2px solid rgba(197, 186, 186, 0.281);
width: 50%;
margin-left: -40px;
display: flex;
background-color: white;
border-radius: 7px;
overflow: hidden;

}
#navbar>div:nth-child(4)>input:nth-child(1){  
border:2px solid rgb(32, 219, 32);
width: 100%;
padding: 10px;
border-radius: 7px;
background-color: #f7f7f7;
color: rgb(12, 12, 12);
font-size: 16px;
border-color: white

}

#navbar>div:nth-child(4)>div:nth-child(2){  
margin-left: -40px;
align-items: center;
display: flex;
justify-content: center;
width: 28px;
}
   
 #navbar>div:nth-child(4)>div:nth-child(2) img{
    
  width: 100%;
  cursor: pointer ;
} 
#navbar>div:nth-child(4)>input:nth-child(1):hover{ 
background-color: rgb(238, 241, 240);
 }
/* cart(logo)                               */
 
#navbar>div:nth-child(5){
cursor: pointer;
margin-left: -8%;
width: 55px;
}

#navbar > div:nth-child(5) > img {
  width: 100%;
}

/* login/signup*/

#navbar>div:nth-child(6)>button{
border:2px solid rgb(252, 6, 6);
font-size: 14px;
border-radius: 8px;
color: white;
background-color: #fd0707;
border: 1px solid #dc3226;
padding: 10px 15px;
transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
margin-left: -90px;
}

#navbar>div:nth-child(6)>button:hover{
border:2px solid rgb(248, 10, 10);
background-color: rgb(252, 252, 252);
border-radius: 10px;
color: red;
}

#search{
  width: 100%;
}

#cart-link{
  width: 55px;
}

#cart-link img{
  width: 100%;
}

  #container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    margin: 0px 20px 0px 20px;
  }
  .card img{
    width: 100%;
   
  }
  .card{
    line-height: 30px;
  }
  #container div button{
    position: relative;
    bottom: 73%;
    color: black;
    left: 90%;
    border-radius: 11px;
    border: none;
    background-color: white;
    /* transform: -50%,-50%;
    -ms-transform:  -50%,-50%; */
    /* right: 20px; */
  }
  .card h3{
    margin-left: 10px;
  }

  .card p{
    margin-left: 10px;
  }

  #footer {
    display: flex;
    font-family: "Muli";
    gap: 80px;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    background-color: #f5f7fa;
    padding: 15px;
    margin-top: 40px;
  }
  
  #footer li {
    width: 100%;
    list-style: none;
    margin: 25px;
  }
  
  #footer a {
    text-decoration: none;
    color: black;
  }
  
  #footer a:hover {
    color: rgb(18, 128, 218);
    text-decoration: underline;
  }
  
  
  #footer ol > div {
    display: flex;
    gap: 20px;
  }
  
  #footer > div:nth-child(4) {
    width: 25%;
    padding: 1%;
  }
  
  #footer ol button {
    background-color: transparent;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
  }
  
  #footer div div {
    margin-top: 20px;
  }
  
  #footer div div img {
  width:100% ;
  border-radius: 3px;
  }
  
  #bottom_footer {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
  }
  
  .B {
    display: flex;
  }
  
  .B img {
    width: 60%;
    border: 1px solid rgb(168, 167, 167);
    border-radius: 50%;
    padding: 5px;
  }